@import "base.scss";
$page_maxwidth:1550px;
$page_maxwidth_in:990px;
body{
	background-color:#000000;
}
.pop{
	@include f;
	z-index: 999;
	display: none;
	.cover{		
		@include a;
		z-index: 0;
		background-color: rgba(0,0,0,0.8);
	}
	.popin{
		@include a(472px,430px,50%,50%);
		@include transform(translate(-50%,-50%));
		background-color: #1e1e1e;		
		transition:0.3s;
		z-index: 2;
		&.on{
			height:500px;
			.pages{
				&.be_member{
					left: 0;
				}
				&.login{
					left: -100%;					
				}
			}		
		}
		.pages_all{
			@include a;			
			overflow: hidden;
			background: url(../images/pop_logo.png) no-repeat;
			background-position: center 20px;
		}
		.closebtn{
			@include a(25px,25px,auto,-30px);
			right: -30px;
			background: url(../images/pop_closebtn.png) no-repeat;
			background-position: center;
			cursor: pointer;
			transition:0.3s;
			&:hover{
				@include transform(rotateZ(180deg));
			}
		}
		.pages{
			@include a;
			box-sizing:border-box;
			padding: 65px;
			transition:0.3s;
			&.be_member{				
				left: 100%;
			}
			&.login{
				left: 0;
			}
			.title{
				@include r;
				@include font(18px,20px,#fff);
				text-align: center;
				margin-top: 55px;
				margin-bottom: 35px;
			}
			input{
				@include r(100%,47px);
				@include border-radius(5px);
				@include font(14px,47px,#fff);
				box-sizing:border-box;
				padding: 0 20px;
				margin-bottom: 9px;
				background-color: rgba(255,255,255,0.13);
				text-align: center;
			}
			.btn{
				@include r;
				margin-top: 6px;
				text-align: center;
				.fblogin{
					@include r(100%,47px);
					margin-bottom: 15px;
					background: url(../images/fbloginbtn.png) no-repeat;
					background-position: center;
					cursor: pointer;
					&:hover{opacity: 0.8;}
				}
				a{
					width: 48%;
					height: 47px;
					margin-right: 2%;
					display: inline-block;
					vertical-align: top;
					@include font(18px,47px,#fff);
					text-align: center;
					background-color: #d30200;
					&:last-child{
						margin-right: 0;
					}
					&:hover{opacity: 0.9;}
				}
			}
		}
	}
}
.loading{
	@include f;
	z-index: 9999;
	background-color: rgba(0,0,0,0.7);	
	.main{
		@include a(250px,100px,50%,50%);
		@include transform(translate(-50%,-50%));
		@include perspective(80px);
		@include perspective-origin(50% 50%);
		.pic{
			@include a(100%,50px);
			background: url(../images/loading.png) no-repeat;
			background-position: center;
			transition:0.3s;			
			@include animation(loadingani 3s 0s infinite ease-out);
		}		
		@include keyframes(loadingani){
		    0%  {@include transform(rotateY(540deg));}
		    10%  {@include transform(rotateY(360deg));}
		    80%  {@include transform(rotateY(360deg));}
		    90%  {@include transform(rotateY(180deg));}
		    100%  {@include transform(rotateY(180deg));}
		} 
		span{
			@include a(100%,50px,0,auto);
			@include font(15px,50px,#FFF,normal,'Arial');
			letter-spacing: 6px;
			bottom: 0;
			text-align: center;
			text-indent: 40px;
		}
	}
}
.top{
	@include f(100%,88px);
	box-shadow: 0 3px 3px rgba(0,0,0,0.8);
	border-top:8px solid #000;
	z-index: 99;
	background-color: #FFF;
	.topin{
		position: relative;
		width: 100%;
		height:100%;
		max-width: $page_maxwidth;
		margin: auto;
	}
	.logo{
		@include r(137px,88px);
		background: url(../images/logo.jpg) no-repeat;
		background-position: center;
		background-color: #000;
		a{
			@include a;
		}
	}
	.menu{
		@include r(auto,100%);
		.menuin{
			@include r(auto,18px);
			margin: 35px 0;
			.menua{
				width: auto;
				height: 100%;
				vertical-align: top;
				display: inline-block;
				margin: 0 15px;
				&:first-child{
					margin-left: 30px;
				}
				a{
					@include r(auto,100%);
					@include font(15px,18px,#000000,normal,'Arial');
					text-align: center;
					&:hover{
						color:#d30200;
					}
				}
			}
		}
	}
	.right{
		@include a(auto,100%,auto);
		right: 0;
		.btn{
			position: relative;
			width: auto;
			height: 28px;
			margin-top: 30px;
			display: inline-block;
			vertical-align: top;
			margin-left: 25px;
			&:hover{opacity: 0.5;}
			&:last-child{
				margin-left: 0;
			}
			&.search{
				&:hover{
					input{
						width: 150px;
					}
				}
				.search_btn{
					@include r(55px,100%);
					background: url(../images/icon_search.png) no-repeat;
					background-position: right center;
					cursor: pointer;
					margin-right: 10px;
				}
				input{
					@include r(80px,100%);
					@include font(15px,18px,#000000);
					transition:0.3s;
					box-sizing:border-box;
					padding: 5px;					
					&:focus{
						border:1px solid #e8e8e8;
					}
				}				
			}
			&.member_btn{
				@include font(15px,28px,#000000);
				background: url(../images/icon_member.png) no-repeat;
				background-position: left center;
				text-indent: 25px;
				cursor: pointer;
			}
			&.fb_btn{
				width: 20px;
				background: url(../images/icon_fb.png) no-repeat;
				background-position: center;
				cursor: pointer;
				a{
					@include a;
				}
			}
			&.yahoo_btn{
				width: 50px;
				background: url(../images/icon_yahoo.png) no-repeat;
				background-position: center;
				cursor: pointer;
				a{
					@include a;
				}
			}
		}

	}
}
.menu_mobile{
	@include f(100%,0,0,8px);	
	z-index: 100;
	display: none;
	.menuin{
		position: relative;
		width: 100%;
		height: 18px;
		max-width: $page_maxwidth;
		margin: 35px auto;
		.menua{
			width: auto;
			height: 100%;
			vertical-align: top;
			display: inline-block;
			margin: 0 15px;
			&:first-child{
				margin-left: 162px;
			}
			a{
				@include r(auto,100%);
				@include font(15px,18px,#000000,normal,'Arial');
				text-align: center;
				&:hover{
					color:#d30200;
				}
			}
		}
	}
}
.wrapper{
	@include r;
	box-sizing:border-box;
	padding-top: 156px;
	&.index,&.about,&.service,&.cars_content{
		padding-top: 96px;
	}
	.fixed_icon_yahoo{
		@include f(auto,50px,auto,50%,0,-25px);		
		right: 0;
		z-index: 999;
		&:before{
			@include a(68px,100%,auto);
			right: 0;
			transition:0.3s;
			content:"";
			background: url(../images/fixed_icon_yahoo.png) no-repeat;
			background-position: right center;
		}
		&:hover{
			&:before{
				right: -100%;
			}
			a{
				width: 122px;
				&:before{
					right: 0;
				}
			}
		}
		a{
			@include r(68px,100%);
			&:before{
				@include a(122px,100%,auto);
				right: -122px;
				content:"";
				background: url(../images/fixed_icon_yahoo_hover.png) no-repeat;
				background-position: center;
				z-index: 0;
				transition:0.3s;
				// transition-delay:0.3s;
			}
		}
	}
	.sec_menu{
		@include f(100%,60px,0,96px);
		background-color: rgba(0,0,0,0.75);
		z-index: 99;		
		.sec_menuin{
			width: 100%;
			height: 60px;
			max-width: $page_maxwidth;
			margin: auto;
			.title{
				@include r(auto,100%);
				@include font(22px,60px,#ffffff,bolder);
				min-width: 137px;
				text-align: center;
			}
			.menua{
				@include r(auto,100%);
				&:hover,&.on{
					background-color: #d30200;
				}
				a{
					@include r(auto,100%);
					@include font(13px,60px,#ffffff,bolder);
					min-width: 100px;
					box-sizing:border-box;
					padding: 0 15px;
					text-align: center;
				}
			}
		}
	}
	.content{
		@include r;
		margin-top: 60px;		
		.press_content{
			@include r;
			.slide_show{
				@include r;
				.slide_showin{
					position: relative;
					width: $page_maxwidth_in;
					height: 390px;
					margin: auto;
					.b_pic{
						@include r(79%,100%);
						margin-right: 1%;					
						overflow: hidden;
						img{
							width: 100%;
							display: inline-block;
							vertical-align: middle;
							transition:1s;
							opacity: 1;
						}
						&.off{						
							img{
								transition:0.3s;
								opacity: 0;
							}
						}
						.leftbtn{
							@include a(40px,60px,0,50%);
							@include transform(translate(0, -50%));
							background: url(../images/press_slide_prevbtn.jpg) no-repeat;
							cursor: pointer;
							z-index: 9;
							&:hover{opacity: 0.8;}
						}
						.rightbtn{
							@include a(40px,60px,auto,50%);
							@include transform(translate(0, -50%));
							right: 0;
							background: url(../images/press_slide_nextbtn.jpg) no-repeat;
							cursor: pointer;
							z-index: 9;
							&:hover{opacity: 0.8;}
						}
					}
					.s_pic_box{
						@include r(20%,100%);
						overflow: hidden;
						ul{
							@include r(94%,auto);
							margin: 0 6% 0 0%;
							li{
								@include r(100%,94px);
								margin-bottom: 4%;								
								.s_pic{
									@include r(100%,100%);
									overflow: hidden;
									cursor: pointer;
									&.on,&:hover{
										&:before{
											opacity: 1;
										}
									}
									&:before{
										content:"";
										@include a;
										box-sizing:border-box;
										transition:0.3s;
										border:3px solid #d30200;
										opacity: 0;
										z-index: 1;
										pointer-events:none;
									}
									img{
										width: 100%;
										vertical-align: middle;
										display: inline-block;
										z-index: 0;
									}
								}								
							}
						}
					}
				}
			}
			.main_area{
				@include r;
				.main_areain{
					position: relative;
					width: $page_maxwidth_in;
					margin: auto;
				}
				.main{
					@include r;
					background-color: #1e1e1e;
					box-sizing:border-box;
					padding: 30px;
					.date{
						@include r;
						@include font(15px,15px,#999999,normal,'Arial');
						letter-spacing: 2px;
						padding-bottom: 25px;
						margin-bottom: 23px;
						&:before{
							content:"";
							@include a(66px,2px,0,auto);
							background-color: #FFF;
							bottom: 0;
						}
					}
					.title{
						@include r;
						@include font(26px,36px,#87bace,bolder);
						margin-bottom: 23px;
						letter-spacing: 1px;
					}
					.word{
						@include r;
						@include font(15px,27px,#ffffff);
						margin-bottom: 50px;
					}
				}
				.btn_bottom{
					@include r;
					.btn_bottomin{
						position: relative;
						width:$page_maxwidth_in;
						margin: auto;
						.btn{
							@include r(auto,100%);
							float: right;
							a{
								@include r;
								img{vertical-align: top;display: inline-block;}
								&:hover{
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
			.interested_area{
				@include r;
				margin-top: 80px;
				.interested_areain{
					position: relative;
					width: 100%;
					max-width: $page_maxwidth;
					box-sizing:border-box;
					padding: 0 25px;
					margin: auto;
					.title{
						@include r;
						@include font(18px,24px,#87bace,normal,'Arial');
						text-align: center;
						margin-bottom: 50px;
					}
					.box{
						@include r;
						.n{
							@include r(32%);							
							margin-right: 2%;
							box-sizing:border-box;
							vertical-align: top;
							padding: 30px;
							background-color: #1e1e1e;
							&:nth-child(3n){
								margin-right: 0;
							}
							a{
								@include r;
								&:hover{
									.pic{
										img{
											@include transform(scale(1));
											opacity: 1;
										}										
									}
								}
								.pic{
									@include r(100%,0);
									margin-bottom: 25px;
									background-color: #000;
									box-sizing:border-box;
									padding-bottom: 60%;
									overflow: hidden;									
									&:before{
										content:"";
										width: 0.1%;
										height: 100%;
										display: inline-block;
										vertical-align: middle;
									}
									img{
										width: 99.9%;
										height: auto;
										display: inline-block;
										vertical-align: middle;
										transition:0.3s;
										@include transform(scale(1.1));
										opacity: 0.5;
									}
								}
								.date{
									@include r;
									@include font(15px,18px,#999999);
									padding-bottom: 25px;
									margin-bottom: 23px;
									&:before{
										content:"";
										@include a(66px,2px,0,auto);
										bottom: 0;
										background-color: #FFF;
									}
								}
								.t{
									@include r;
									@include font(22px,28px,#87bace,bolder);
									margin-bottom: 23px;
								}
								.w{
									@include r;
									@include font(13px,24px,#ffffff);
									margin-bottom: 35px;
								}
								.more{
									@include r(150px,30px);
									@include font(15px,30px,#ffffff);
									box-sizing:border-box;
									border:1px solid #fff;
									text-align: center;
									cursor: pointer;
								}
							}							
						}
					}
				}
			}
		}
		.cars_content{
			@include r;
			.cars_info{
				@include r;
				background-color: #1e1e1e;
				min-height: 460px;
				padding: 60px 0;
				.cars_infoin{
					position: relative;
					width: 100%;
					max-width: $page_maxwidth;
					margin: auto;
					.info{
						@include r;
						box-sizing:border-box;
						padding-right: 64.8%;
						padding-left: 40px;
						background: url(../images/cars_content_title_icon.png) no-repeat;
						background-position: 10px 13px;
						.t{
							@include r;
							@include font(36px,50px,#ffffff);
							margin-bottom: 30px;
							letter-spacing: 1px;
						}
						.st{
							@include r;
							@include font(21px,32px,#87bace);
							margin-bottom: 30px;
							letter-spacing: 1px;
						}
						.w{
							@include r;
							@include font(15px,22px,#ffffff);
							letter-spacing: 1px;
						}
					}
					.slide_show{
						@include a(62%,454px,auto);
						right: 1%;
						z-index: 9;
						background-color: #000;
						.slide_showin{
							position: relative;
							width: 100%;
							height: 100%;
							margin: auto;
							.b_pic{
								@include r(78%,100%);
								margin-right: 1%;					
								overflow: hidden;
								text-align: center;
								&:before{
									content:"";
									width: 1px;
									height: 100%;
									display: inline-block;
									vertical-align: middle;
								}
								img{
									width: 78%;
									display: inline-block;
									vertical-align: middle;
									transition:1s;
									opacity: 1;
								}
								&.off{						
									img{
										transition:0.3s;
										opacity: 0;
									}
								}
								.leftbtn{
									@include a(40px,60px,0,50%);
									@include transform(translate(0, -50%));
									background: url(../images/press_slide_prevbtn.jpg) no-repeat;
									cursor: pointer;
									z-index: 9;
									&:hover{opacity: 0.8;}
								}
								.rightbtn{
									@include a(40px,60px,auto,50%);
									@include transform(translate(0, -50%));
									right: 0;
									background: url(../images/press_slide_nextbtn.jpg) no-repeat;
									cursor: pointer;
									z-index: 9;
									&:hover{opacity: 0.8;}
								}
							}
							.s_pic_box{
								@include r(20%,100%);
								overflow: hidden;
								box-sizing:border-box;
								padding: 25px 0;
								ul{
									@include r(94%,auto);
									margin: 0 6% 0 0%;
									li{
										@include r;
										margin-bottom: 4%;								
										.s_pic{
											@include r(100%,0);											
											box-sizing:border-box;
											padding-bottom: 66%;
											overflow: hidden;
											cursor: pointer;
											&.on,&:hover{
												&:before{
													opacity: 1;
												}
											}
											&:before{
												content:"";
												@include a;
												box-sizing:border-box;
												transition:0.3s;
												border:3px solid #d30200;
												opacity: 0;
												z-index: 1;
												pointer-events:none;
											}
											img{
												width: 100%;
												vertical-align: middle;
												display: inline-block;
												z-index: 0;
											}
										}								
									}
								}
							}
						}
					}
				}
			}
			.cars_brief{
				@include r;
				.cars_briefin{
					position: relative;
					width: 100%;
					max-width: $page_maxwidth;
					margin: auto;
					.lt{
						@include r;
						box-sizing:border-box;
						padding-right: 510px;
						z-index: 1;
						.cars_width{
							@include r(46%);
							margin-right: 3%;
							margin-left: 2%;
							.t{
								@include r;
								@include font(18px,20px,#ffffff,bolder);
								text-align: left;
								margin-top: 50px;
							}
							.item{
								@include r(100%,500px);
								margin-top: 25px;
								overflow: hidden;								
								.itemin{
									@include r;	
									box-sizing:border-box;
									padding-right: 20px;								
								}
								span{
									@include r;
									@include font(13px,20px,rgba(255,255,255,0.7));
									letter-spacing: 1px;
									text-align: left;
									box-sizing:border-box;
									padding-left: 20px;
									&:before{
										content:"";
										@include a(10px,10px,0,5px);
										background-color: #d30200;
										z-index: 9;
									}
								}
							}
						}
						.cars_des{
							@include r(49%);					
							.t{
								@include r;
								@include font(18px,20px,#ffffff,bolder);
								text-align: left;
								margin-top: 50px;
							}
							.w{
								@include r(100%,500px);
								@include font(13px,24px,rgba(255,255,255,0.7));
								margin-top: 25px;
								overflow: hidden;								
								.win{
									@include r;
									box-sizing:border-box;
									padding-right: 20px;									
								}
							}
						}
					}
					.rt{
						@include a(480px,100%,auto);
						right: 0;
						z-index: 9;
						.t{
							@include r;
							@include font(18px,20px,#ffffff,bolder);
							text-align: left;
							margin-top: 50px;
						}
						.fb_comment_box{
							@include r(100%,500px);
							overflow: hidden;
						}
					}
				}
			}
			.interested_area{
				@include r;
				margin-top: 80px;
				.interested_areain{
					position: relative;
					width: 100%;
					max-width: $page_maxwidth;
					box-sizing:border-box;
					padding: 0 25px;
					margin: auto;
					.title{
						@include r;
						@include font(18px,24px,#87bace,normal,'Arial');
						text-align: center;
						margin-bottom: 50px;
					}
					.box{
						@include r;
						.n{
							@include r(23.5%);							
							margin-right: 2%;
							margin-bottom: 2%;
							&:nth-child(4n){
								margin-right: 0;
							}
							a{
								@include r;
								&:hover{
									.pic{
										img{
											@include transform(scale(1));
											opacity: 1;
										}										
									}
								}
								.pic{
									@include r(100%,0);
									box-sizing:border-box;
									padding-bottom: 66.6%;
									margin-bottom: 25px;
									background-color: #1e1e1e;
									overflow: hidden;									
									&:before{
										content:"";
										width: 0.1%;
										height: 100%;
										display: inline-block;
										vertical-align: middle;
									}
									img{
										width: 99.9%;
										height: auto;
										display: inline-block;
										vertical-align: middle;
										transition:0.3s;
										@include transform(scale(1.1));
										opacity: 0.5;
									}
								}
								.word{
									@include r;
									box-sizing:border-box;
									padding-left: 30px;
									background: url(../images/cars_content_title_icon_s.png) no-repeat;
									background-position: 15px 5px;
									.t{
										@include r;
										@include font(18px,24px,#ffffff);
										letter-spacing: 1px;
									}
									.price{
										@include r;
										@include font(15px,24px,#ffffff);
										box-sizing:border-box;
										padding-left: 45px;
										text-align: left;
										&:before{
											content:"售價 :";
											@include a(45px,100%);
											@include font(15px,24px,#ffffff);
											z-index: 9;
											text-align: left;
										}
									}
									.date{
										@include r;
										@include font(15px,24px,#ffffff);
										box-sizing:border-box;
										padding-left: 45px;
										text-align: left;
										&:before{
											content:"日期 :";
											@include a(45px,100%);
											@include font(15px,24px,#ffffff);
											z-index: 9;
											text-align: left;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.cars_list{
			@include r;
			.cars_listin{
				position: relative;
				width: 100%;
				max-width: $page_maxwidth;
				box-sizing:border-box;
				padding: 0 25px;
				margin: auto;
				.n{
					@include r(23.5%);							
					margin-right: 2%;
					margin-bottom: 2%;
					&:nth-child(4n){
						margin-right: 0;
					}
					a{
						@include r;
						&:hover{
							.pic{
								img{
									@include transform(scale(1));
									opacity: 1;
								}										
							}
							.word{
								.t{color:#87bace;}
								.price{color:#87bace;&:before{color:#87bace;}}
								.date{color:#87bace;&:before{color:#87bace;}}
							}
						}
						.pic{
							@include r(100%,0);
							box-sizing:border-box;
							padding-bottom: 66.6%;
							margin-bottom: 25px;
							background-color: #1e1e1e;
							overflow: hidden;									
							&:before{
								content:"";
								width: 0.1%;
								height: 100%;
								display: inline-block;
								vertical-align: middle;
							}
							img{
								width: 99.9%;
								height: auto;
								display: inline-block;
								vertical-align: middle;
								transition:0.3s;
								@include transform(scale(1.1));
								opacity: 0.5;
							}
						}
						.word{
							@include r;
							box-sizing:border-box;
							padding-left: 30px;
							background: url(../images/cars_content_title_icon_s.png) no-repeat;
							background-position: 15px 5px;
							.t{
								@include r;
								@include font(18px,24px,#ffffff);
								letter-spacing: 1px;
							}
							.price{
								@include r;
								@include font(15px,24px,#ffffff);
								box-sizing:border-box;
								padding-left: 45px;
								text-align: left;
								&:before{
									content:"售價 :";
									@include a(45px,100%);
									@include font(15px,24px,#ffffff);
									z-index: 9;
									text-align: left;
								}
							}
							.date{
								@include r;
								@include font(15px,24px,#ffffff);
								box-sizing:border-box;
								padding-left: 45px;
								text-align: left;
								&:before{
									content:"日期 :";
									@include a(45px,100%);
									@include font(15px,24px,#ffffff);
									z-index: 9;
									text-align: left;
								}
							}
						}
					}
				}
			}
		}
		.press_list{
			@include r;
			.press_listin{
				position: relative;
				width: 100%;
				max-width: $page_maxwidth;
				box-sizing:border-box;
				padding: 0 25px;
				margin: auto;
				.n{
					@include r(32%);							
					margin-right: 2%;
					margin-bottom: 4%;
					box-sizing:border-box;
					vertical-align: top;
					padding: 30px;
					background-color: #1e1e1e;
					&:nth-child(3n){
						margin-right: 0;
					}
					a{
						@include r;
						&:hover{
							.pic{
								img{
									@include transform(scale(1));
									opacity: 1;
								}										
							}
						}
						.pic{
							@include r(100%,0);
							margin-bottom: 25px;
							background-color: #000;
							box-sizing:border-box;
							padding-bottom: 60%;
							overflow: hidden;									
							&:before{
								content:"";
								width: 0.1%;
								height: 100%;
								display: inline-block;
								vertical-align: middle;
							}
							img{
								width: 99.9%;
								height: auto;
								display: inline-block;
								vertical-align: middle;
								transition:0.3s;
								@include transform(scale(1.1));
								opacity: 0.5;
							}
						}
						.date{
							@include r;
							@include font(15px,18px,#999999);
							padding-bottom: 25px;
							margin-bottom: 23px;
							&:before{
								content:"";
								@include a(66px,2px,0,auto);
								bottom: 0;
								background-color: #FFF;
							}
						}
						.t{
							@include r;
							@include font(22px,28px,#87bace,bolder);
							margin-bottom: 23px;
						}
						.w{
							@include r;
							@include font(13px,24px,#ffffff);
							margin-bottom: 35px;
						}
						.more{
							@include r(150px,30px);
							@include font(15px,30px,#ffffff);
							box-sizing:border-box;
							border:1px solid #fff;
							text-align: center;
							cursor: pointer;
						}
					}							
				}
			}
		}
		.about{
			@include r;
			.aboutin{
				@include r;
				.banner{
					@include r(100%,528px);
					box-sizing:border-box;					
					background: url(../images/about_banner.jpg) no-repeat;
					background-position: center;			
					.main{
						@include a(100%,105px,0,50%);
						@include transform(translate(0, -50%));
						.logo_in{
							@include r(100%,31px);
							background: url(../images/logo_in.png) no-repeat;
							background-position: center top;
							padding-bottom: 23px;
							margin-bottom: 25px;
							&:before{
								content:"";
								@include a(66px,2px,50%,auto);
								@include transform(translate(-50%, 0));
								bottom: 0;
								background-color: #fff;
							}
						}
						.w{
							@include r;
							@include font(15px,15px,#ffffff,bolder);
							box-sizing:border-box;
							padding: 0 25px;
							text-align: center;
						}
					}
				}
				.word{
					@include r;
					margin-top: 80px;
					.wordin{
						position: relative;
						width: 100%;
						max-width: $page_maxwidth_in;
						margin: auto;
						box-sizing:border-box;
						padding: 0 25px;
						.title{
							@include r;
							@include font(36px,45px,#87bace,bolder);
							letter-spacing: 1px;
							padding-bottom: 38px;
							margin-bottom: 40px;
							&:before{
								content:"";
								@include a(66px,2px,0,auto);
								bottom: 0;
								background-color: #fff;
							}
						}
						.des{
							@include r;
							.lt{
								@include r;
								@include font(15px,27px,#ffffff);
								letter-spacing: 1px;
								box-sizing:border-box;
								padding-right: 460px;
							}
							.rt{
								@include a(427px,auto,auto);
								right: 0;
								.pic{
									@include r;
									&:before{
										content:"";
										@include a;
										box-sizing:border-box;
										border:10px solid #fff;
										z-index: 1;
									}
									img{
										width: 100%;
										vertical-align: top;
										display: inline-block;
										margin-bottom: 4%;
									}
								}								
							}
						}
					}
				}
			}
		}
		.service{
			@include r;
			.servicein{
				@include r;
				.banner{
					@include r(100%,528px);
					box-sizing:border-box;					
					background: url(../images/service_banner.jpg) no-repeat;
					background-position: center;			
					.main{
						@include a(100%,105px,0,50%);
						@include transform(translate(0, -50%));
						.logo_in{
							@include r(100%,31px);
							background: url(../images/logo_in.png) no-repeat;
							background-position: center top;
							padding-bottom: 23px;
							margin-bottom: 25px;
							&:before{
								content:"";
								@include a(66px,2px,50%,auto);
								@include transform(translate(-50%, 0));
								bottom: 0;
								background-color: #fff;
							}
						}
						.w{
							@include r;
							@include font(15px,15px,#ffffff,bolder);
							box-sizing:border-box;
							padding: 0 25px;
							text-align: center;
						}
					}
				}
				.word{
					@include r;
					margin-top: 80px;
					.wordin{
						position: relative;
						width: 100%;
						max-width: $page_maxwidth_in;
						margin: auto;
						box-sizing:border-box;
						padding: 0 25px;
						.title{
							@include r;
							@include font(36px,45px,#87bace,bolder);
							letter-spacing: 1px;
							padding-bottom: 38px;
							margin-bottom: 40px;
							text-align: center;
							&:before{
								content:"";
								@include a(66px,2px,50%,auto);
								@include transform(translate(-50%,0));
								bottom: 0;
								background-color: #fff;
							}
						}
						.des{
							@include r;
							@include font(15px,27px,#ffffff);
							text-align: center;
						}
						.item_all{
							@include r;
							margin-top: 50px;
							.lt{
								@include r(48%);
								margin-right: 4%;
								text-align: right;
							}
							.rt{
								@include r(48%);
								padding-top: 200px;
								text-align: left;
							}
							.item{
								position: relative;
								width: 370px;
								display: inline-block;
								vertical-align: top;
								margin-bottom: 100px;
								box-sizing:border-box;
								padding-left: 25px;
								background: url(../images/service_icon.png) no-repeat;
								background-position: 0 5px;
								transition:0.5s;
								opacity: 0;
								top: 100px;
								&.on{opacity: 1;top: 0px;}
								.t{
									@include r;
									@include font(22px,30px,#ffffff);
									letter-spacing: 1px;
									text-align: left;
								}
								.pic{
									@include r(338px);
									margin-top: 30px;
									&:before{
										content:"";
										@include a;
										box-sizing:border-box;
										border:10px solid #fff;
										z-index: 2;
									}
									img{
										width: 100%;
										vertical-align: top;
										z-index: 0;
									}
								}
							}
						}
					}
				}
			}
		}
		.index_page{
			@include r;
			margin-top: -60px;
			.banner{
				@include r;				
				.leftbtn{
					@include a(40px,60px,0,50%);
					@include transform(translate(0,-50%));
					background: url(../images/index_banner_prev_btn.jpg) no-repeat;
					background-position: center;
					cursor: pointer;
					z-index: 9;
					&:hover{opacity: 0.8;}
				}
				.rightbtn{
					@include a(40px,60px,auto,50%);
					@include transform(translate(0,-50%));
					right: 0;
					background: url(../images/index_banner_next_btn.jpg) no-repeat;
					background-position: center;
					cursor: pointer;
					z-index: 9;
					&:hover{opacity: 0.8;}
				}
				.banner_container{
					@include r;
					overflow: hidden;
					.swiper-wrapper{
						@include r;
						.swiper-slide{
							a{
								@include r;
								.pic{
									@include r;
									z-index: 0;
									img{
										width: auto;
										max-width: 100%;
									}
								}
								.word{
									@include a(auto,auto,auto,45px);
									right: 60px;
									padding-left: 33px;
									background: url(../images/index_banner_icon.png) no-repeat;
									background-position: 0 10px;
									text-align: left;
									z-index: 1;
									&.white{
										background: url(../images/index_banner_icon_white.png) no-repeat;
										background-position: 0 10px;
										.big{color:#fff;}
										.small{color:#fff;}
									}
									.big{
										@include r(auto);
										@include font(47px,50px,#000000);
										margin-bottom: 10px;
									}
									.small{
										@include r(auto);
										@include font(30px,30px,#000000);
										clear: both;
									}

								}
							}
						}
					}
					.banner-pagination{
						@include a(auto,10px,50%,auto);
						@include transform(translate(-50%,0));
						bottom: 30px;
						z-index: 9;
						span{
							margin: 0 10px;
						}
					}
				}				
			}
			.cars_area{
				@include r;
				margin-top: 66px;
				.cars_areain{
					position: relative;
					width: 100%;
					max-width: $page_maxwidth;
					box-sizing:border-box;
					padding: 0 25px;
					margin: auto;
					.title{
						@include r;
						@include font(18px,24px,#FFF,normal,'Arial');
						text-align: center;
						letter-spacing: 6px;
						margin-bottom: 50px;
					}
					.box{
						@include r;
					}
					.n{
						@include r(23.5%);							
						margin-right: 2%;
						margin-bottom: 2%;
						&:nth-child(4n){
							margin-right: 0;
						}
						a{
							@include r;
							&:hover{
								.pic{
									img{
										@include transform(scale(1));
										opacity: 1;
									}										
								}
								.word{
									.t{color:#87bace;}
									.price{color:#87bace;&:before{color:#87bace;}}
									.date{color:#87bace;&:before{color:#87bace;}}
								}
							}
							.pic{
								@include r(100%,0);
								box-sizing:border-box;
								padding-bottom: 66.6%;
								margin-bottom: 25px;
								background-color: #1e1e1e;
								overflow: hidden;									
								&:before{
									content:"";
									width: 0.1%;
									height: 100%;
									display: inline-block;
									vertical-align: middle;
								}
								img{
									width: 99.9%;
									height: auto;
									display: inline-block;
									vertical-align: middle;
									transition:0.3s;
									@include transform(scale(1.1));
									opacity: 0.5;
								}
							}
							.word{
								@include r;
								box-sizing:border-box;
								padding-left: 30px;
								background: url(../images/cars_content_title_icon_s.png) no-repeat;
								background-position: 15px 5px;
								.t{
									@include r;
									@include font(18px,24px,#ffffff);
									letter-spacing: 1px;
								}
								.price{
									@include r;
									@include font(15px,24px,#ffffff);
									box-sizing:border-box;
									padding-left: 45px;
									text-align: left;
									&:before{
										content:"售價 :";
										@include a(45px,100%);
										@include font(15px,24px,#ffffff);
										z-index: 9;
										text-align: left;
									}
								}
								.date{
									@include r;
									@include font(15px,24px,#ffffff);
									box-sizing:border-box;
									padding-left: 45px;
									text-align: left;
									&:before{
										content:"日期 :";
										@include a(45px,100%);
										@include font(15px,24px,#ffffff);
										z-index: 9;
										text-align: left;
									}
								}
							}
						}
					}
				}
			}
			.service_area{
				@include r(100%,260px);
				margin-top: 66px;
				background: url(../images/index_service.jpg) no-repeat;
				background-position: center;
				.btn{
					@include a(240px,40px,50%,140px);
					@include transform(translate(-50%,0));
					box-sizing:border-box;
					border:1px solid #fff;
					transition:0.3s;
					&:before{
						content:"";
						@include a;
						z-index: 0;
						opacity:0;
						background-color: #d30200;
						transition:0.3s;
					}
					&:hover{
						border:1px solid #d30200;
						&:before{opacity:1;}
					}
					a{
						@include a;
						@include font(18px,40px,#fff);
						text-align: center;
						z-index: 1;						
					}
				}
			}
			.press_area{
				@include r;
				margin-top: 66px;
				.press_areain{
					position: relative;
					width: 100%;
					max-width: $page_maxwidth;
					box-sizing:border-box;
					padding: 0 25px;
					margin: auto;
					.title{
						@include r;
						@include font(18px,24px,#FFF,normal,'Arial');
						text-align: center;
						letter-spacing: 6px;
						margin-bottom: 50px;
					}
					.box{
						@include r;
						.n{
							@include r(32%);							
							margin-right: 2%;
							box-sizing:border-box;
							vertical-align: top;
							padding: 30px;
							background-color: #1e1e1e;
							&:nth-child(3n){
								margin-right: 0;
							}
							a{
								@include r;
								&:hover{
									.pic{
										img{
											@include transform(scale(1));
											opacity: 1;
										}										
									}
								}
								.pic{
									@include r(100%,0);
									margin-bottom: 25px;
									background-color: #000;
									box-sizing:border-box;
									padding-bottom: 60%;
									overflow: hidden;									
									&:before{
										content:"";
										width: 0.1%;
										height: 100%;
										display: inline-block;
										vertical-align: middle;
									}
									img{
										width: 99.9%;
										height: auto;
										display: inline-block;
										vertical-align: middle;
										transition:0.3s;
										@include transform(scale(1.1));
										opacity: 0.5;
									}
								}
								.date{
									@include r;
									@include font(15px,18px,#999999);
									padding-bottom: 25px;
									margin-bottom: 23px;
									&:before{
										content:"";
										@include a(66px,2px,0,auto);
										bottom: 0;
										background-color: #FFF;
									}
								}
								.t{
									@include r;
									@include font(22px,28px,#87bace,bolder);
									margin-bottom: 23px;
								}
								.w{
									@include r;
									@include font(13px,24px,#ffffff);
									margin-bottom: 35px;
								}
								.more{
									@include r(150px,30px);
									@include font(15px,30px,#ffffff);
									box-sizing:border-box;
									border:1px solid #fff;
									text-align: center;
									cursor: pointer;
								}
							}							
						}
					}
				}
			}
			.fb_area{
				@include r;
				margin-top: 150px;
				margin-bottom: 40px;
				.fb_areain{
					position: relative;
					width: 100%;
					max-width: $page_maxwidth;
					box-sizing:border-box;
					padding: 0 25px;
					margin: auto;
					$postspeed:0.5s;
					.post{
						@include r(26.7%);							
						&:hover{
							.n{@include transform(rotateY(180deg));}								
							.front{opacity: 0;}
							.back{opacity: 1;}
							&:nth-child(2),&:nth-child(4){
								a{
									.n{
										.front{opacity: 0;}
										.back{opacity: 1;}
									}									
								}								
							}
						}
						a{
							@include r;
							.n{
								@include r;
								transition:$postspeed;
							}							
							.front{
								@include r(100%,0);
								box-sizing:border-box;
								padding-bottom: 75%;
								overflow: hidden;
								transition:$postspeed/2;
								z-index: 1;
								opacity: 1;
								background-color: #1e1e1e;
								&:before{
									content:"";
									@include a(20px,19px,auto,10px);
									right: 10px;
									background: url(../images/index_fbicon.png) no-repeat;
									background-position: center;
									z-index: 1;
								}
								img{
									width: 100%;
									height: auto;
									vertical-align: middle;
									z-index: 0;
								}
							}
							.back{
								@include a;
								@include transform(rotateY(180deg));
								box-sizing:border-box;
								padding: 20px;
								border:1px solid rgba(255,255,255,0.8);
								background-color: #000;
								transition:$postspeed/2;
								z-index: 0;
								opacity: 0;
								&:before{
									content:"";
									@include a(20px,19px,auto,10px);
									right: 10px;
									background: url(../images/index_fbicon.png) no-repeat;
									background-position: center;
									z-index: 1;
								}
								.title{
									@include a(100%,auto,0,20px);
									box-sizing:border-box;
									padding: 0 20px;
									overflow: hidden;
									.lt{
										@include a(50px,100%,20px);
										background: url(https://graph.facebook.com/1470554113202974/picture?type=large) no-repeat;
										background-size: contain;
										background-position: center;
									}
									.rt{
										@include r;
										box-sizing:border-box;
										padding-left: 60px;
										.name{
											@include r;
											@include font(18px,21px,#FFF);
											margin-bottom: 5px;
										}
										.date{
											@include r;
											@include font(13px,18px,rgba(255,255,255,0.7));
										}
									}
								}
								.des{
									@include r(100%,100%);
									@include font(13px,18px,#fff);
									box-sizing:border-box;
									padding-top: 70px;
									overflow: hidden;
								}
							}
						}						
						&:nth-child(2),&:nth-child(4){
							@include r(46.6%);
							a{
								@include r;
								transition:$postspeed;
								.front{
									@include r(100%,0);
									box-sizing:border-box;
									padding-bottom: 43%;									
								}								
							}
						}						
					}
				}
			}
		}
	}
}
.footer{
	@include r;
	margin-top: 100px;
	.contact{
		@include r;
		.left{
			@include r(100%,520px);			
			background: url(../images/contact_pic.jpg) no-repeat;
			background-position: left center;
			background-color: #1e1e1e;
			z-index: 0;
			.pic{
				@include a(215px,100px,45px,140px);
				background: url(../images/contact_word.png) no-repeat;
				background-position: center;
				z-index: 1;
			}
		}
		.right{
			@include a(1024px,100%,auto);
			box-sizing:border-box;
			padding: 60px;
			right: 0;
			z-index: 9;
			background-color: #1e1e1e;
			.main{
				@include r(100%,390px);
				.lt{
					@include r(340px,100%);
					margin-right: 15px;
					.fb_box{
						@include r;
						margin-bottom: 14px;
						.fb-page{
							@include r;
						}
					}
					.user_data{
						@include r;
						opacity: 0.7;
						input{
							@include font(14px,45px,#ffffff);
							@include r(100%,45px);
							margin-bottom: 14px;
							border-radius:5px;
							background-color: #3b3b3b;
							text-align: center;
							&.user_addr{margin-bottom: 0;}
							&.user_name{width: 49%;margin-right: 2%;}
							&.user_phone{width: 49%;}
						}
					}
				}
				.rt{
					@include r(470px,100%);
					opacity: 0.7;
					.message{
						@include r(100%,270px);
						@include font(14px,24px,#ffffff);
						@include border-radius(5px);
						box-sizing:border-box;
						padding: 15px;
						background-color: #3b3b3b;
						margin-bottom: 15px;
						border:0;
						outline: none !important;
					}
					.send_btn{
						@include r(100%,95px);
						@include border-radius(5px);
						cursor: pointer;
						box-sizing:border-box;
						border:3px solid #fff;
						text-align: center;
						span{
							@include a;
							@include font(18px,95px,#ffffff,bolder,'Arial');
							z-index: 1;
						}
						&:before{
							content:"";
							@include a;
							z-index: 0;
							background-color: #fff;
							opacity: 0;
							transition:0.3s;
						}
						&:hover{
							&:before{opacity: 1;}
							span{color:#000;}
						}
					}
				}
			}
		}
	}
	.footerin{
		@include r(100%,88px);
		@include font(15px,20px,#000000);
		border-bottom:8px solid #000;
		background-color: #ffffff;		
		box-sizing:border-box;
		padding: 30px 45px;	
	}
}
@media screen and (max-width: 1280px) {
	.wrapper .content .index_page .banner .banner_container .swiper-wrapper .swiper-slide a .word{top: 25px;right: 40px;}
	.wrapper .content .index_page .banner .banner_container .swiper-wrapper .swiper-slide a .word .big{@include font(32px,36px,#000000);}
	.wrapper .content .index_page .banner .banner_container .swiper-wrapper .swiper-slide a .word .small{@include font(21px,21px,#000000);}	
	.footer{
		@include r;
		margin-top: 100px;
		.contact{
			@include r;
			.left{
				@include r(100%,520px);			
				background: url(../images/contact_pic.jpg) no-repeat;
				background-position: left center;
				background-color: #1e1e1e;
				z-index: 0;
				.pic{
					@include a(215px,100px,45px,140px);
					background: url(../images/contact_word.png) no-repeat;
					background-position: center;
					z-index: 1;
				}
			}
			.right{
				@include a(890px,100%,auto);
				box-sizing:border-box;
				padding: 60px 30px 60px 30px;
				right: 0;
				z-index: 9;
				background-color: #1e1e1e;
				.main{
					@include r(100%,390px);
					.lt{
						@include r(340px,100%);
						margin-right: 15px;
						.fb_box{
							@include r;
							margin-bottom: 14px;
							.fb-page{
								@include r;
							}
						}
						.user_data{
							@include r;
							opacity: 0.7;
							input{
								@include font(14px,45px,#ffffff);
								@include r(100%,45px);
								margin-bottom: 14px;
								border-radius:5px;
								background-color: #3b3b3b;
								text-align: center;
								&.user_addr{margin-bottom: 0;}
								&.user_name{width: 49%;margin-right: 2%;}
								&.user_phone{width: 49%;}
							}
						}
					}
					.rt{
						@include r(470px,100%);
						opacity: 0.7;
						.message{
							@include r(100%,270px);
							@include font(14px,24px,#ffffff);
							@include border-radius(5px);
							box-sizing:border-box;
							padding: 15px;
							background-color: #3b3b3b;
							margin-bottom: 15px;
							border:0;
							outline: none !important;
						}
						.send_btn{
							@include r(100%,95px);
							@include border-radius(5px);
							cursor: pointer;
							box-sizing:border-box;
							border:3px solid #fff;
							text-align: center;
							span{
								@include a;
								@include font(18px,95px,#ffffff,bolder,'Arial');
								z-index: 1;
							}
							&:before{
								content:"";
								@include a;
								z-index: 0;
								background-color: #fff;
								opacity: 0;
								transition:0.3s;
							}
							&:hover{
								&:before{opacity: 1;}
								span{color:#000;}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1024px) {
	.footer{
		@include r;
		margin-top: 100px;
		.contact{
			@include r;
			.left{
				@include r(100%,520px);			
				background: url(../images/contact_pic.jpg) no-repeat;
				background-position: left center;
				background-color: #1e1e1e;
				z-index: 0;
				.pic{
					@include a(215px,100px,45px,140px);
					background: url(../images/contact_word.png) no-repeat;
					background-position: center;
					z-index: 1;
				}
			}
			.right{
				@include a(1024px,100%,auto);
				box-sizing:border-box;
				padding: 60px;
				right: 0;
				z-index: 9;
				background-color: #1e1e1e;
				.main{
					@include r(100%,390px);
					.lt{
						@include r(340px,100%);
						margin-right: 15px;
						.fb_box{
							@include r;
							margin-bottom: 14px;
							.fb-page{
								@include r;
							}
						}
						.user_data{
							@include r;
							opacity: 0.7;
							input{
								@include font(14px,45px,#ffffff);
								@include r(100%,45px);
								margin-bottom: 14px;
								border-radius:5px;
								background-color: #3b3b3b;
								text-align: center;
								&.user_addr{margin-bottom: 0;}
								&.user_name{width: 49%;margin-right: 2%;}
								&.user_phone{width: 49%;}
							}
						}
					}
					.rt{
						@include r(470px,100%);
						opacity: 0.7;
						.message{
							@include r(100%,270px);
							@include font(14px,24px,#ffffff);
							@include border-radius(5px);
							box-sizing:border-box;
							padding: 15px;
							background-color: #3b3b3b;
							margin-bottom: 15px;
							border:0;
							outline: none !important;
						}
						.send_btn{
							@include r(100%,95px);
							@include border-radius(5px);
							cursor: pointer;
							box-sizing:border-box;
							border:3px solid #fff;
							text-align: center;
							span{
								@include a;
								@include font(18px,95px,#ffffff,bolder,'Arial');
								z-index: 1;
							}
							&:before{
								content:"";
								@include a;
								z-index: 0;
								background-color: #fff;
								opacity: 0;
								transition:0.3s;
							}
							&:hover{
								&:before{opacity: 1;}
								span{color:#000;}
							}
						}
					}
				}
			}
		}		
	}
}
@media screen and (max-width: 640px) {
}